// Specific CSS for your home-page
.banner {
    background-image: url('../../images/background_img.jpg');
    height: 70vh;
    background-repeat: no-repeat;
    width: 100%;
    h1, h4 {
        color: white;
        font-weight: 700;
        position: absolute;
        align-self: center;
    }
    margin-bottom: 50px;
}
.banner h1 {
    margin-top: 400px;
}
.banner h4 {
    margin-top: 500px;
}
.cards-car {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
}