.cards-bookings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}
.title-bookings {
    font-size: 40px;
    font-weight: 600;
    color: #5353b9;;
}
.card-info-status {
    font-weight: 500;
    color: #5353b9;
    padding-bottom: 3px;
    border-bottom: 2px solid #5353b9;
}
