<h1 class="text-center">View all my bookings</h1>
<div class="container">
    <div class="row">
        <% @bookings.each do |booking| %>
            <div class="card">
                <div class="card-body d-flex align-items-center justify-content-between">
                    <% if booking.confirmed %>
                        <p>Car name</p>
                        <p>Confirmed</p>
                    <% else %>
                        <p>Car name</p>
                        <p>Pending</p>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>
