<h1 class="text-center mt-3">Booking</h1>
<div class="container mt-5">
    <div class="infos-client d-flex justify-content-between align-items-center">
        <div class="infos-text">
            <h4>Date of rent: 14/04/2015</h4>
            <p><%= @client.name %></p>
        </div>
    </div>
    <div class="car-infos d-flex justify-content-between align-items-center">

    </div>
    <%= @car.name %>
</div>