<div class="footer">
    <div class="social-media">
      <h2>Community</h2>
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="help">
      <h2> Assistance</h2>
      <ul class="fh">
        <li>This some text</li>
        <li>This some text</li>
        <li>This some text</li>
      </ul>
    </div>
</div>
