<div class="footer">
  <div class="footer-box">
     <div class="footer-social">
      <h2>Community</h2>
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
    <div class="footer-assistance">
      <h2> Assistance</h2>
      <ul class="help-tags">
        <li>Jobs</li>
        <li>Support</li>
        <li>Terms of Service</li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© Copyright 2021 NFT Squad. All rights reserved.</p>
  </div>
</div>
