.card-category {
  display: flex;
  align-items: center;
  justify-content: begin;
  background-size: cover;
  background-position: center;
  height: 70vh;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.info-banner {
  margin-left: 48px;
}

#btn-signup {
  margin-top: 32px,
}
