.btn-search-grey {
    padding: 10px 15px;
    border: 1px solid rgba(0,0,0,.2);
    color: rgba(0,0,0,.2);
    border-radius: 10px;
}
.btn-chevronUp {
    font-size: 40px;
    color: #5353b9;
    border: transparent;
    background-color: transparent;
}
.btn-info-car {
    border-radius: 25px;
    border: 1px solid #5353b9;
    color: #5353b9;
    background-color: white;
    padding: 7px 8px;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
    &:hover {
        background-color: #5353b9;
        color:white;
        transition-delay: 100ms;
        transition-duration: 150ms;
    }
}
.btn-info-car-small {
    border-radius: 5px;
    border: 1px solid #5353b9;
    color: #5353b9;
    font-size: small;
    background-color: white;
    padding: 6px 10px;
    &:hover {
        background-color: #5353b9;
        color:white;
        transition-delay: 100ms;
        transition-duration: 150ms;
        text-decoration: none;
    }
}

.btn-outline-warning {
  border-radius: 5px;
  border: 1px solid C33B00;
  color: C33B00;
  font-size: small;
  padding: 6px 10px;
}

.btn-outline-danger {
  border-radius: 5px;
  border: 1px solid ED2436;
  color: ED2436;
  font-size: small;
  padding: 6px 10px;
}

.btn-spacing {
  display: flex;
  justify-content: space-between;
}
