.btn-search-grey {
    padding: 10px 15px;
    border: 1px solid rgba(0,0,0,.2);
    color: rgba(0,0,0,.2);
    border-radius: 10px;
}
.btn-chevronUp {
    font-size: 40px;
    color: #5353b9;
    border: transparent;
    background-color: transparent;
}