.card-owner {
    // padding: 24px;
    // margin-top: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    height: 320px;
    // display: flex;
    background-color: #94d0cc;
}

.card-home-page {
  background: white;
  block-size: fit-content;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.background-card-purple-2 {
  background: #e9e9fc;;
  border-radius: 20px;
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
  width: 70%;
}

.card-client {
    padding: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    height: 320px;
}

.card-client-body h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-client-body p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-client .card-client-body{
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-client-body {
  margin: 24px;
}
.bakground-card-purple {
  background: #e9e9fc;;
  border-radius: 20px;
  padding: 40px;
}


.bakground-card-white {
  background: white;;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}
.car-bookings-index {
  box-shadow: 0 10px 15px rgba(0,0,0,0.2);
  border-radius: 15px;
}
// .card-client-body-info {
//   padding-top: 10px;
// }


