.footer {
  background: #5353b9;
  width: 100%;
  padding: 16px 16px;
  color: white;
  bottom: 1;
  position: absolute;
  margin-top: 100px;
}

.footer-box {
  display: flex;
  justify-content: space-around;
}

.footer-social a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  display: flex;
  opacity: 1;
  margin: 4px;
  display: inline-block;
  &:hover {
    color: rgb(236, 173, 55);
    transition-delay: 150ms;
    transition-duration: 100ms;
  }
}

.footer-social h2{
  margin-right: 5px;
}

.footer-assistance {
  color: white;
}

.footer-assistance h2 {
  margin-left: 5px;
}
.footer-assistance li {
  list-style: none;
  padding-left: 0px;
  &:hover {
    color: rgb(236, 173, 55);
    transition-delay: 150ms;
    transition-duration: 100ms;
  }
}
.footer-copyright {
  display: flex;
  justify-content: center;
}
