.main-container {
  display: flex;
}

#map {
  height: 100vh;
}

.card-home-page {
  height: 80px;
  border: 1px solid black;

}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
  margin-left: 16px;
}
